.header .container-head .search, .main-nav ul, .name-row, .more-info .likes, .more-info .caption, .comment, .main-content .story, .main-content .story .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container, .header .container-head, .suggestions, .sharing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 975px;
  padding: 0 20px;
  margin: auto;
  background: #fafafa;
}

@media (max-width: 767px) {
  .container {
    padding: 0;
  }
}

.header {
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #dbdbdb;
}

.header .container-head {
  max-width: 975px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 767px) {
  .header .container-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .container-head .logo {
  position: relative;
  margin-right: 20px;
  margin-top: 7px;
}

.header .container-head .search {
  background: #fafafa;
  margin: 0 10px;
  border: 1px solid #dbdbdb;
  height: 36px;
  min-width: 125px;
  width: 270px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

@media (max-width: 767px) {
  .header .container-head .search {
    display: none;
  }
}

.header .container-head .search .fa-search {
  position: absolute;
  top: 49%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  color: #dbdbdb;
  font-size: 12px;
}

.header .container-head .search input {
  border: 0;
  outline: none;
  width: 100%;
  padding: 5px 18px 5px 40px;
  background: none;
  font-size: 13px;
  height: 100%;
}

.header .container-head .search input::-webkit-input-placeholder {
  opacity: 0.2;
}

.header .container-head .search input:-ms-input-placeholder {
  opacity: 0.2;
}

.header .container-head .search input::-ms-input-placeholder {
  opacity: 0.2;
}

.header .container-head .search input::placeholder {
  opacity: 0.2;
}

.header .container-head .search input:focus + .fa-times-circle {
  display: block;
}

.header .container-head .search .fa-times-circle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5px;
  padding: 5px;
  color: #dbdbdb;
  font-size: 18px;
  display: none;
}

@media (max-width: 767px) {
  .main-nav ul {
    padding-bottom: 10px;
  }
}

.main-nav ul i {
  font-size: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.main-nav ul img {
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: 3px;
}

.sidebar {
  width: 300px;
  top: 110px;
  position: -webkit-sticky;
  position: sticky;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 991px) {
  .sidebar {
    display: none;
  }
}

.sidebar .name-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  padding: 0;
  border: none;
}

.sidebar .name-row img {
  width: 60px;
  border-radius: 50%;
}

.sidebar .name-row .info {
  font-size: 14px;
}

.sidebar .name-row .info a {
  color: #333;
}

.sidebar .name-row .info span {
  color: #acacac;
}

.sidebar span {
  display: block;
  color: #3aadf7;
  font-size: 13px;
  cursor: pointer;
  font-weight: 600;
}

.suggestions {
  margin-bottom: 20px;
}

.suggestions p {
  font-size: 15px;
  font-weight: 500;
  color: #939393;
}

.suggestions span {
  color: #262626;
  font-weight: normal;
}

.Follow-suggestions .name-row {
  margin: 0 0 14px 0;
  padding: 0 0 0 10px;
}

.Follow-suggestions .name-row img {
  width: 35px;
}

.Follow-suggestions .name-row .info a {
  color: #4b4b4b;
}

.Follow-suggestions .name-row .info a:hover {
  text-decoration: underline;
}

.Follow-suggestions .name-row .info span {
  font-weight: 500;
}

.ownership {
  margin: 2px auto;
}

.ownership p {
  padding: 12px 0;
  text-align: center;
  color: #4b4b4b;
}

.ownership p span {
  color: #3aadf7;
  font-weight: 600;
  font-size: 17px;
}

.name-row {
  width: 100%;
  padding: 17px;
  border-bottom: 1px solid #dbdbdb;
}

.name-row .active-story .img-story {
  width: 44px;
  border-radius: 50%;
  height: 44px;
}

.name-row .active-story .img-story img {
  width: 40px;
  border-radius: 50%;
}

.name-row .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 18px;
}

.name-row .info :first-child,
.name-row .info :last-child {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.name-row .info :first-child {
  color: #393939;
  font-size: 14px;
  margin-bottom: 5px;
}

.name-row .info :last-child {
  color: #979797;
  font-size: 12px;
  cursor: auto;
}

.active-story {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  padding: 2px;
  border-radius: 50%;
  position: relative;
}

.active-story .img-story {
  display: block;
  background: white;
  padding: 2px;
  height: 60px;
}

.active-story .img-story img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about {
  margin-top: 30px;
  padding-left: 10px;
}

.about li {
  display: inline-block;
}

.about li a {
  color: #d3d3d3;
  font-size: 11px;
  font-weight: 500;
}

.copyright {
  margin-top: 15px;
  padding-left: 10px;
  color: #d3d3d3;
  font-size: 11px;
  font-weight: 600;
}

* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  font-family: tahoma;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.pose-container {
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  margin-bottom: 25px;
}

.pose-container .name-row .info .name {
  color: #393939;
  font-size: 14px;
}

.pose-container .name-row .info .name:hover {
  text-decoration: underline;
}

.pose-container .name-row .info .plase {
  font-size: 12px;
  color: #979797;
  cursor: pointer;
}

.pose-container .name-row img {
  width: 40px;
  border-radius: 50%;
}

.pose-container .name-row .fa-ellipsis-h {
  color: #262626;
  padding: 10px;
  cursor: pointer;
}

.post-img {
  width: 100%;
  position: relative;
}

.post-img img {
  width: 100%;
}

.post-img .change-background {
  color: #eae1db;
  top: 50%;
}

.interactive-icons {
  width: 100%;
  padding: 0 15px;
  position: relative;
}

.interactive-icons .bullets {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.interactive-icons .bullets .active {
  background: #3aadf7;
}

.interactive-icons .bullets span {
  margin-right: 1px;
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #a8a8a8;
}

.sharing {
  margin: 8px 0 15px;
}

.sharing ul {
  display: block;
}

.sharing ul li {
  margin-right: 2px;
  display: inline-block;
}

.sharing ul li i {
  font-size: 24px;
  padding: 6px;
  color: #262626;
}

.sharing .save {
  display: block;
}

.sharing .save i {
  display: inline-block;
  font-size: 24px;
  color: #262626;
  padding: 6px;
}

.more-info {
  width: 100%;
  padding-left: 22px;
  margin-bottom: 20px;
}

.more-info .likes {
  margin-bottom: 10px;
}

.more-info .likes img {
  width: 25px;
  border-radius: 50%;
  margin-right: 8px;
}

.more-info .likes p {
  font-size: 13px;
  color: #555;
}

.more-info .likes p span {
  color: #555555;
  font-weight: 600;
}

.more-info .likes #point {
  cursor: pointer;
}

.more-info .likes #point:hover {
  text-decoration: underline;
}

.more-info .caption {
  margin-bottom: 6px;
}

.more-info .caption a {
  color: #404040;
  font-weight: bold;
  font-size: 14px;
  margin-right: 5px;
}

.more-info .caption p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.more-info .caption span {
  color: #a3a3a3;
  cursor: pointer;
}

.more-info .comments {
  font-size: 14px;
  color: #8e8e8e;
}

.more-info time {
  display: block;
  font-size: 12px;
  color: #8e8e8e;
  margin-top: 10px;
}

.comment {
  border-top: 1px solid #dbdbdb;
  width: 100%;
  padding: 8px 22px;
}

.comment .fa-smile {
  font-size: 25px;
  color: #343434;
  padding: 5px 15px 5px 0;
  cursor: pointer;
}

.comment textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 35px;
  outline: none;
  border: 0;
  resize: none;
  overflow: hidden;
  padding-top: 10px;
}

.comment textarea::-webkit-input-placeholder {
  font-size: 14px;
}

.comment textarea:-ms-input-placeholder {
  font-size: 14px;
}

.comment textarea::-ms-input-placeholder {
  font-size: 14px;
}

.comment textarea::placeholder {
  font-size: 14px;
}

.comment input {
  font-size: 15px;
  font-weight: 600;
  color: #3aadf7;
  margin: 2px 0;
  background: none;
  outline: none;
  border: 0;
  opacity: 0.5;
  cursor: pointer;
}

.main-content {
  max-width: 600px;
  width: 100%;
}

@media (max-width: 991px) {
  .main-content {
    margin: 0 auto;
  }
}

.main-content .story {
  height: 111px;
  width: 100%;
  border-radius: 4px;
  padding: 0 0 0 18px;
  margin: 35px auto 20px;
  background: #ffffff;
  overflow: hidden;
  position: relative;
  border: 1px solid #dbdbdb;
}

@media (max-width: 767px) {
  .main-content .story {
    margin-top: 0;
  }
}

.main-content .story .slides {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 13px;
}

.main-content .story .slides .img-story {
  width: 60px;
  border-radius: 50%;
}

.main-content .story .slides .img-story img {
  width: 56px;
  border-radius: 50%;
}

.main-content .story .slides .name {
  color: #262626;
  font-size: 11px;
  max-width: 65px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
}

.change-background {
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.fa-chevron-circle-right {
  right: 10px;
}

.fa-chevron-circle-left {
  left: 10px;
  display: none;
}
/*# sourceMappingURL=instagram.css.map */