.ownership {
  margin: 2px auto;
  p {
    padding: 12px 0;
    text-align: center;
    color: #4b4b4b;
    span {
      color: $followcolor;
      font-weight: 600;
      font-size: 17px;
    }
  }
}