.header {
  height: 60px;
  background: $color;
  border-bottom: 1px solid #dbdbdb;
  .container-head {
    max-width: 975px;
    padding: 0 20px;
    margin: 0 auto;
    @extend %flex-center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    @include responsive(phone) {
      flex-direction: column;
    }

    .logo {
      position: relative;
      margin: {
        right: 30px;
        top: 7px;
      }
    }

    .search {
      @extend %flex-items;
      background: #efefef;
      margin: 0 10px;
      border-radius: 20px;
      height: 35px;
      max-width: 280px;
      @include border-radius (7px);
      overflow: hidden;
      position: relative;
      flex: 1 1 auto;
      @include responsive(phone) {
        display: none;
      }

      .icon-search1 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        color: #8e8e8e;
        font-size: 25px;
      }
      input {
        border: 0;
        outline: none;
        width: 100%;
        padding: 5px 18px 5px 45px;
        background: none;
        font-size: 13px;
        height: 100%;
        &::placeholder {
          color: #8e8e8e;
          font-size: 16px;
          font-weight: 100;
        }
        &:focus + .fa-times-circle {
          display: block;
        }
      }
      .fa-times-circle {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
        padding: 5px;
        color: $secondarycolor;
        font-size: $lfont;
        display: none;
      }
    }
  }
}
