.main-nav {
  ul {
    @extend %flex-items;
    @include responsive(phone) {
      padding-bottom: 10px;
    }
    i {
      font-size: 24px;
      margin-right: 20px;
      cursor: pointer;
    }
    img {
      @include circle(24px, 50%);
      cursor: pointer;
      position: relative;
      top: 3px;
    }
  }
}