.main-nav {
  ul {
    @extend %flex-items;
    @include responsive(phone) {
      padding-bottom: 10px;
    }
    li {
      i {
        font-size: 23px;
        margin-right: 22px;
        cursor: pointer;
      }
      .icon-plus-square-o {
        font-size: 27px
      }
    }
    img {
      @include circle(24px, 50%);
      cursor: pointer;
      position: relative;
      top: 2px;
    }
  }
}