.main-content {
  max-width: 615px;
  width: 100%;
  @include responsive(max-desktop) {
    margin: 0 auto;
  }

  .story {
    height: 111px;
    @include circle(100%, 4px);
    padding: 0 0 0 18px;
    margin: 40px auto 20px;
    background: #ffffff; 
    @extend %flex-items;
    overflow: hidden;
    position: relative;
    border: 1px solid #dbdbdb;
    @include responsive(phone) {
      margin-top: 0;
    }
  
    .slides {
      @extend %flex-items;
      flex-direction: column;
      margin-right: 15px;

      .img-story {
        @include circle(60px, 50%);
        img {
          @include circle(56px, 50%);
        }
      }
      .name {
        color: #262626;
        font-size: $sfont - 1;
        max-width: 68px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 8px;
      }
    }
  }
}

.change-background {
  font-size: 20px;
  color: $color;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
.fa-chevron-circle-right {
  right: 10px;
}
.fa-chevron-circle-left {
  left: 10px;
  display: none;
}
